.color-primary-0 { color: #226666 }	/* Main Primary color */
.color-primary-1 { color: #669999 }
.color-primary-2 { color: #407F7F }
.color-primary-3 { color: #0D4D4D }
.color-primary-4 { color: #003333 }

/* Colors */
.text-light-gray {
    color: #aeafb0;
}

body {
}

.page-header {
    height: 400px;
    color: #fff;
    background-color: #226666;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
    text-align: left;
}

.page-header-container {
    height: 100%;
    position: relative;
}

.page-header-content {
    position: absolute;
    bottom: 0;
}

.page-header-content img {
    margin-left: -8em;
    margin-top: -7em;
}

.page-header h1 .smaller {
    font-size: .5em;
}

.page-header h1 {
    font-size: 4em;
}

.page-title {
    float: right;
}

.panel-profile-img {
    max-width: 200px;
    margin-top: -100px;
    margin-bottom: 5px;
    border: 5px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.panel-profile .panel-heading {
    height: 150px;
    background-size: cover;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
}

.footer {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    border-top: 1px solid rgba(0,0,0,.1);
    height: 3em;
}
